.title {
    padding-left: 32px;
    font-size: 30px;
    font-weight: 500;
}

.list {
    text-decoration: none;
    list-style: disc;
    margin-bottom: 2px;
    color: rgb(4, 4, 4);

}

.item {
    color: var(--color-second);
}

.item:hover,
.item:focus {
    color: var(--color-accent);
}

.icon {
    margin-right: 4px;
}