.title {
    padding-left: 32px;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-accent);
}

.text {
    font-size: 24px;
    font-weight: 400;
}

.list {
    display: flex;
    list-style: none;
    gap: 24px;
}

.link {
    text-decoration: none;
    color: var(--color-second);
    border-radius: 5px;
    font-size: 16px;
    padding: 4px;
}

.link:hover {
    background-color: var(--color-bg-accent);
}

.infoTitle {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-accent);
}

.infoText {
    font-size: 16px;
    font-weight: 400;
}